<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="/animals">Back to the list of animals</a> 
    </nav>

    <h1>
        <%=animal.species%> 
    </h1>
    <p>Extinct: <%=animal.extinct%> 
    </p>
    <p>location: <%=animal.location%> 
    </p>
    <p>Life Expectancy In Years: <%=animal.lifeExpectancy%>
            
    </p>

    <form method="POST" action="/animals/<%=animal._id%>?_method=DELETE">
        
        <input type="submit" value="delete animal">
    </form>

    <a href="/animals/<%=animal._id%>/edit">
        <button>edit</button> 
    </a>
</body>

</html>